{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'navbar.html' %}

<div class="jumbotron">
    <h1 class="display-4 text-center bg-info"><strong>{{title |upper }}</strong></h1>
    <div class="row">
        <!--Start of row-->
        <div class="col-sm-2">
            <!--Start of first col-->
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-primary mybutton" type="submit" value="Search">
            </form>
            <br> <br>
            <a class="btn btn-primary mybutton" href="{% url 'add_items' %}">Add Item</a><br> <br>
            <a class="btn btn-primary mybutton" href="{% url  'list_history' %}">List History</a> <br> <br>
        </div>
        <!--End of first col-->
        <div class="col-sm-10">
            <!--Start of second col-->
            <div class="display_table">
                <table class="table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">COUNT</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">ITEM NAME</th>
                            <th scope="col">QUANTITY IN STORE</th>
                            <th scope="col">Record Lavel</th>
                            <th scope="col">TIMESTAPM</th>
                            <th scope="col">LAST UPDATED</th>
                            <th scope="col">DELETE</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for instance in queryset %}
                        <tr>
                            <!-- {{ forloop.counter }} -->
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{instance.category}}</td>
                            <td><a class="text-decoration-none"
                                    href="{% url 'update_items' instance.id %}">{{instance.item_name}}</a></td>
                            <td>
                                {% if instance.quantity <= instance.reorder_level %} <div
                                    style="background-color: orange;">
                                    <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
            </div>
            {% else %}
            <a href="{% url 'stock_detail' instance.id %}">{{instance.quantity}}</a>
            {% endif %}
            </td>
            <td><a href="{% url 'reorder_level' instance.id %}">{{instance.reorder_level}}</a></td>
            <td>{{instance.timestamp}}</td>
            <td>{{instance.last_updated}}</td>
            <td><a href="{% url 'delete_items' instance.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

    </div>
    <!--End of second col-->
    <!--End of row-->
</div>
</div>

{% endblock content %}